exports.config = 
	Authorization: "echo '{{token}}:' | base64"
	repo: "wearemop/customer-service"
	host_build: "http://integration.mopp.com/build/cs"
	hipchat:
		token: "your hipchat token"
		room_id: "dev"
		room_token: 'room token'
		webhook: "http://integration.mopp.com/github/callback"